In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

# Path to your CSV (adjust if needed)
csv_path = Path('BloodGroup_input.csv')

df = pd.read_csv(csv_path)

# Normalize fields
df['ID'] = df['ID'].astype(str)
df['Plague'] = df['Plague'].astype(str).str.strip().str.lower()   # 'case' / 'control'
df['BloodGroup'] = df['BloodGroup'].astype(str).str.strip().str.upper()  # 'O','A','B','AB'

display(df.head())
df['ID'].str[:3].value_counts()
df['Plague'].value_counts(), df['BloodGroup'].value_counts()

       ID Plague BloodGroup
0  EDI102   case          O
1  EDI001   case          O
2  EDI060   case          O
3  EDI062   case          A
4  EDI064   case          A

(control    85
 case        9
 Name: Plague, dtype: int64,
 O     55
 A     33
 B      5
 AB     1
 Name: BloodGroup, dtype: int64)

In [3]:
from math import log, sqrt, exp
from scipy.stats import fisher_exact, chi2_contingency

def analyze_O_difference(df, cases_mask, controls_mask, label):
    """Builds a 2x2 for O vs non-O and performs Fisher exact (two-sided).
       Also reports Yates chi2 p (reference), OR with 95% CI (Woolf, Haldane-Anscombe for zeros)."""
    cases = df.loc[cases_mask]
    controls = df.loc[controls_mask]
    
    # 2x2 counts
    a = int((cases['BloodGroup'] == 'O').sum())     # cases with O
    b = int((cases['BloodGroup'] != 'O').sum())     # cases non-O
    c = int((controls['BloodGroup'] == 'O').sum())  # controls with O
    d = int((controls['BloodGroup'] != 'O').sum())  # controls non-O
    
    table = np.array([[a, b],[c, d]])
    
    # Fisher’s exact (two-sided)
    or_fisher, p_fisher = fisher_exact(table, alternative='two-sided')
    
    # Chi-squared with Yates’ correction (reference only)
    chi2, p_chi2, dof, expected = chi2_contingency(table, correction=True)
    
    # Haldane–Anscombe correction for 0 cells, then Woolf CI for log(OR)
    a_ = a if a > 0 else a + 0.5
    b_ = b if b > 0 else b + 0.5
    c_ = c if c > 0 else c + 0.5
    d_ = d if d > 0 else d + 0.5
    or_hw = (a_ * d_) / (b_ * c_)
    
    se_log_or = sqrt(1/a_ + 1/b_ + 1/c_ + 1/d_)
    z = 1.96
    log_or = log(or_hw)
    ci_low, ci_high = exp(log_or - z*se_log_or), exp(log_or + z*se_log_or)
    
    cases_total, controls_total = a + b, c + d
    pct_cases_O = (a / cases_total * 100) if cases_total else np.nan
    pct_controls_O = (c / controls_total * 100) if controls_total else np.nan
    
    result = {
        "Comparison": label,
        "Cases_n": cases_total,
        "Controls_n": controls_total,
        "Cases_O": a,
        "Cases_nonO": b,
        "Controls_O": c,
        "Controls_nonO": d,
        "Cases_O_%": round(pct_cases_O, 1),
        "Controls_O_%": round(pct_controls_O, 1),
        "OddsRatio": or_hw,
        "OR_95%CI_low": ci_low,
        "OR_95%CI_high": ci_high,
        "Fisher_p_two_sided": p_fisher,
        "Chi2_Yates_p": p_chi2,
    }
    return result, table, expected

In [4]:
# Masks
mask_EDI = df['ID'].str.startswith('EDI')
mask_case = df['Plague'] == 'case'
mask_control = df['Plague'] == 'control'

# (1) Within EDI only: cases vs controls
res1, table1, expected1 = analyze_O_difference(df, mask_EDI & mask_case, mask_EDI & mask_control,
                                               "EDI samples: cases vs controls")

# (2) Overall: all cases vs all controls
res2, table2, expected2 = analyze_O_difference(df, mask_case, mask_control,
                                               "All samples: cases vs controls")

# (3) EDI cases vs ALL controls
res3, table3, expected3 = analyze_O_difference(df, mask_EDI & mask_case, mask_control,
                                               "EDI cases vs ALL controls")

summary_df = pd.DataFrame([res1, res2, res3])

# Round for display
round_cols = ["OddsRatio","OR_95%CI_low","OR_95%CI_high","Fisher_p_two_sided","Chi2_Yates_p"]
summary_df[round_cols] = summary_df[round_cols].astype(float).round(4)
summary_df

,Comparison,Cases_n,Controls_n,Cases_O,Cases_nonO,Controls_O,Controls_nonO,Cases_O_%,Controls_O_%,OddsRatio,OR_95%CI_low,OR_95%CI_high,Fisher_p_two_sided,Chi2_Yates_p
0,EDI samples: cases vs controls,9,25,5,4,16,9,55.6,64.0,0.7031,0.1496,3.3055,0.7041,0.9625
1,All samples: cases vs controls,9,85,5,4,50,35,55.6,58.8,0.8750,0.2193,3.4918,1.0000,0.8678
2,EDI cases vs ALL controls,9,85,5,4,50,35,55.6,58.8,0.8750,0.2193,3.4918,1.0000,0.8678

In [5]:
def show_tables(observed, expected, title):
    obs_df = pd.DataFrame(observed, index=["Cases","Controls"], columns=["O","non-O"])
    exp_df = pd.DataFrame(np.round(expected, 2), index=["Cases","Controls"], columns=["O","non-O"])
    display(pd.DataFrame({title+" — Observed": [" "]}))  # spacer title
    display(obs_df.astype(int))
    display(pd.DataFrame({title+" — Expected (chi2 model)": [" "]}))
    display(exp_df)

show_tables(table1, expected1, "EDI")
show_tables(table2, expected2, "All samples")
show_tables(table3, expected3, "EDI cases vs ALL controls")

  EDI — Observed
0

           O  non-O
Cases      5      4
Controls  16      9

  EDI — Expected (chi2 model)
0

              O  non-O
Cases      5.56   3.44
Controls  15.44   9.56

  All samples — Observed
0

           O  non-O
Cases      5      4
Controls  50     35

  All samples — Expected (chi2 model)
0

              O  non-O
Cases      5.27   3.73
Controls  49.73  35.27

  EDI cases vs ALL controls — Observed
0

           O  non-O
Cases      5      4
Controls  50     35

  EDI cases vs ALL controls — Expected (chi2 model)
0

              O  non-O
Cases      5.27   3.73
Controls  49.73  35.27

In [6]:
out_path = Path("bloodgroup_O_stats_summary.csv")
summary_df.to_csv(out_path, index=False)
print(f"Saved: {out_path}")

Saved: bloodgroup_O_stats_summary.csv